body {
    margin: 0;
    font-family: monospace;
    font-size: 25px;
    background-color: blanchedalmond;
}

h1 {
    font-size: 70px;
}


button {
    font-size: 20px;
    font-family: monospace;
    border: 5px solid;
    border-radius: 20px;
    background-color: #83F1F1;
}

button:hover{
    box-shadow: 5px 5px black;
}

.container{
    background-color: #EC85AD;
    text-align: center;
    position: relative;
    max-width: 700px;
    margin: auto;
    padding: 1vw;
    top: 10px;
    border: 10px solid black;
    border-radius: 45px;
    box-shadow: 20px 20px black;
}

p{
    display: inline-block;
    border: 3px solid black;
    margin: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px black;
}


input {
    border: 5px solid black;
    border-radius: 100px;
    padding: 40px;
    box-shadow: 5px 5px 10px black;
}

input:hover {
    border: 7px solid black;
    box-shadow: 7px 7px 10px black;
}


footer {

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 100vw;
        padding-top: 40px;
        margin-bottom: 10px;
        text-align: center;
    
}



img {
    width: 5rem;
    transition: all 2s;
    transform: scale(1.3);

}

button:hover {
    transition: all 1s;
    transform: scale(1.1);
}